dataset: "LJSpeech"
language: "de"
speaker: "de_cvs_SPEAKER"

path:
  corpus_path: "/home/guenter/projects/hal9000/ennis/datasets/speech/de_cv_s100/SPEAKER"
  preprocessed_path: "/mnt/data1/preprocessed_data/v2/de_cvs_SPEAKER"

