dataset: "LJSpeech"
language: "de"
speaker: "de_cv_SPEAKER"

path:
  corpus_path: "/home/guenter/projects/hal9000/ennis/datasets/speech/de_cv_100/SPEAKER"
  preprocessed_path: "./preprocessed_data/de_cv_SPEAKER"

