dataset: "LJSpeech"
language: "de"
speaker: "de_hui_SPEAKER"

path:
  corpus_path: "/home/guenter/projects/hal9000/ennis/datasets/speech/de_hui/SPEAKER"
  preprocessed_path: "./preprocessed_data/de_hui_SPEAKER"

